<div class="content__title">
  <h1>
    <span class="sub-title">角色管理</span>
    <nz-divider nzType="vertical"></nz-divider>
    <small class="sub-title-desc">使用角色进行权限分组</small>
  </h1>
  <button nz-button nzType="primary" (click)="create()">
    <i class="anticon anticon-plus"></i> 新建角色</button>
</div>

<nz-row nzGutter="10">
  <nz-col nzLg="10" nzMd="12" nzSm="24">
    <nz-card nzTitle="角色列表">
      <nz-select [(ngModel)]="searchPermisson" nzAllowClear nzPlaceHolder="按权限查找角色" style="width: 100%" (ngModelChange)="getRoles()">
        <nz-option *ngFor="let p of permissions" [nzValue]="p.name" [nzLabel]="p.displayName"></nz-option>
      </nz-select>

      <simple-table #st [data]="pager.data" [columns]="pager.columns" [pi]="pager.pageIndex" [ps]="pager.pageSize" [total]="pager.totalItems"
        (radioChange)="radioChange($event)" isPageIndexReset>
        <ng-template st-row="property" let-item>
          <span class="badge badge-success">{{item.isStatic ? '系统':''}}</span>
          <span class="badge badge-error">{{item.isDefault ?'默认':''}}</span>
        </ng-template>
      </simple-table>
    </nz-card>
  </nz-col>

  <nz-col nzLg="14" nzMd="12" nzSm="24">
    <nz-card [nzTitle]="selectedRoleName" [nzExtra]="btnTemplate">
      <ng-template #btnTemplate>
        <nz-button-group>
          <button nz-button nzType="default" (click)="create()">
            <i class="anticon anticon-plus"></i> 新建</button>
          <button nz-button nzType="primary" (click)="save()">
            <i class="anticon anticon-save"></i> 保存</button>
          <button nz-button nzType="danger" (click)="delete()" *ngIf="selectedRole">
            <i class="anticon anticon-delete"></i> 删除</button>
        </nz-button-group>
      </ng-template>
      <form nz-form [formGroup]="form" nzLayout="inline">
        <nz-form-item>
          <nz-form-label nzRequired nzFor="name">名称</nz-form-label>
          <nz-form-control>
            <input nz-input formControlName="name" id="name" placeholder="请输入角色名称">
            <nz-form-explain *ngIf="form.get('name').dirty && form.get('name').errors">请输入角色名称</nz-form-explain>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label nzRequired nzFor="displayName">描述</nz-form-label>
          <nz-form-control>
            <input nz-input formControlName="displayName" id="displayName" placeholder="请输入角色描述">
            <nz-form-explain *ngIf="form.get('displayName').dirty && form.get('displayName').errors">请输入角色描述</nz-form-explain>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control>
            <label nz-checkbox formControlName="isDefault" id="isDefault">用户默认角色</label>
          </nz-form-control>
        </nz-form-item>
      </form>
      <nz-divider nzText="权限" nzOrientation=""></nz-divider>
      <sf-permission-tree [role]="selectedRole && selectedRole.id"></sf-permission-tree>
    </nz-card>
  </nz-col>
</nz-row>